.card {
        
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
        margin-top: 30px;
        width:500px;
}
.card-img-bottom , .card-img-top {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.card-footer{
    background: transparent;
}
.border-success{
    border: 3px solid green !important;
    
}
