<link rel="stylesheet" href="{{url_for('static', filename='tooplate.css')}}">
<header>
    <div class="topnav">
        <a class="active" href="/"><i class="fa fa-home" style="font-size:36px"></i></a>


        <a href='my_index.html'><i class="fa fa-users" style="font-size:36px"></i></a>
        <a href="#about"><i class="fa fa-trophy" style="font-size:36px"></i></a>


        <div class="rightnav">
            <a href="/project/new"><i class="fa fa-plus-circle" style="font-size:36px"></i></a>
            <a href="/profile/me"><i class="fa fa-user" style="font-size:36px"></i></a>

            <a href="#about"></a>
        </div>
    </div>
</header>