{% include 'block.html' %} {% block subcontent %}
<div class="container">
    <div class="row">

        <div class="col-md-8 m-3 col-md-offset-2">

            <h1>Create a new Innovative Project</h1>
            <p class="text-danger">Fields marked * are required</p>

            <form action="/project/new/" method="POST">



                <div class="form-group">
                    <label for="title">Title <span class="require">*</span></label>
                    <input type="text" class="form-control" name="title" required/>
                </div>

                <div class="form-group">
                    <label for="description">Description<span class="require">*</span></label>
                    <textarea rows="5" class="form-control" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="links">Link  <small>(any additional detail.)</small></label>
                    <input type="text" class="form-control" name="links" value="" />

                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
    		            Create
    		        </button>
                    <a href="/" class="btn btn-default">
    		            Cancel
					</a>
                </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}