<!DOCTYPE html>

<head>
<meta charset="utf-8">

<title>Paper Stack</title>
<link rel="stylesheet" type="text/css" href="style.css" >
</head>
<body>
<div class="container">
  <section id="content">
    <form action="">
      <h1>Login Form</h1>
      <div>
        <input type="text" placeholder="Username" required="" id="username" />
      </div>
      <div>
        <input type="password" placeholder="Password" required="" id="password" />
      </div>
      <div>
        <input type="submit" value="Log in" />
        <a href="#">Reset password</a>
        <a href="#">Register</a>
      </div>
    </form>
    
  </section>
</div>
</body>
</html>
