{% include 'block.html' %} {% block subcontent %}

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <section id="content">
        <form action="/login/" method="POST">
            <h1>Log-in to <br>Collab-O-Mate</h1>
            <div>
                <input type="text" placeholder="Username" required="" id="username" />
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" />
            </div>
            <div>
                <input type="submit" value="Log in" />
                <a href="/resetpassword/">Reset password</a>
                <a href="/register/">Register</a>
            </div>
        </form>
    </section>
</body>

</html>
{% endblock %}