<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>collab-O-mate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/tooplate-style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
    <header>
        <div class="topnav">
            <a class="active" href="#home"><i class="fa fa-home" style="font-size:36px"></i></a>


            <a href='my_index.html'><i class="fa fa-users" style="font-size:36px"></i></a>
            <a href="#about"><i class="fa fa-trophy" style="font-size:36px"></i></a>


            <div class="rightnav">
                <a href="new_post.html"><i class="fa fa-plus-circle" style="font-size:36px"></i></a>
                <a href="profile.html"><i class="fa fa-user" style="font-size:36px"></i></a>

                <a href="#about"></a>
            </div>
        </div>
    </header>

    <div class="tm-main-content">
        <section class="tm-margin-b-l">
            <header>
                <h2 class="tm-main-title">Select To Start Your Collab.</h2>
            </header>
            <p></p>

            <div class="tm-gallery">
                <div class="row">
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="preview01.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="https://foroalfa.org/imagenes/ilustraciones/idea.png" alt="Image" class="img-fluid tm-img-center">
                            </div>

                            <!--name of book aur baki m bhi-->
                                <p class="tm-figcaption">The alchemist</p>
                        </a>
                    </figure>
                </div>

        </section>

        <footer>

        </footer>
    </div>

        
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>