{% include 'block.html' %} {% block cdn %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/yourcode.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
<link rel="stylesheet" href="{{url_for('static', filename='tooplate.css')}}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

<body>
    <div class="tm-main-content">
        <section class="tm-margin-b-l">
            <header>
                <h2 class="tm-main-title">Select To Start Your Collab.</h2>
            </header>
            <p></p>

            <div class="tm-gallery">
                <div class="row">
                    {% for project in projects %}
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="postit_img"></div>
                        <a href="/project/{{project[0]}}">
                            <!-- <div class="tm-gallery-item-overlay">
                                <img src="https://foroalfa.org/imagenes/ilustraciones/idea.png" alt="Image" class="img-fluid tm-img-center">
                            </div> -->

                            <!--name of book aur baki m bhi-->
                            <p class="tm-figcaption">{{project[1]}}</p>
                        </a>
                    </figure>
                    {% endfor %}
                </div>

        </section>

        <footer>

        </footer>
        </div>


        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

</body>

</html>